# Ignore helper and issue folders
/Helper/
/issue/
prototype view/
plans/
# Node modules (jika ada)
node_modules/
.idea
# OS files
.DS_Store
Thumbs.db
pull-dev.sh
push-dev.sh

# Release APK & AAB (Android App Build)
*.apk
*.aab
**/release/*.apk
**/release/*.aab
coda-suaka-frontend/app/release/
coda-suaka-frontend/app/build/outputs/apk/release/
coda-suaka-frontend/app/build/outputs/bundle/release/
